<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new todo</title>
</head>
<body>
    <h1>Add a new todo </h1>
    <form method="POST" action="add">
        {% csrf_token %}
        <div>
            <p>
                {{ form.as_p }}
            </p>
        </div>
        <div>
            <p>
                
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add Todo</button>
            </p>    
        </div>
    </form>
</body>
</html>